In [ ]:
import pandas as pd
from pathlib import Path

DATA_FILE = Path('btc_1h_data_2018_to_2025.csv')
print('dataset at:', DATA_FILE)

df = pd.read_csv(DATA_FILE)
print('Loaded dataframe shape:', df.shape)
print('Columns:', df.columns.tolist())
print(len(df.columns.tolist()))

Expecting dataset at: btc_1h_data_2018_to_2025.csv
Loaded dataframe shape: (70823, 12)
Columns: ['Open time', 'Open', 'High', 'Low', 'Close', 'Volume', 'Close time', 'Quote asset volume', 'Number of trades', 'Taker buy base asset volume', 'Taker buy quote asset volume', 'Ignore']
12

In [ ]:
# Show first few rows with all columns are visible
pd.set_option('display.max_columns', None)
df.head()

,Open time,Open,High,Low,Close,Volume,Close time,Quote asset volume,Number of trades,Taker buy base asset volume,Taker buy quote asset volume,Ignore
0,2018-01-01 00:00:00.000000,13715.65,13715.65,13400.01,13529.01,443.356199,2018-01-01 00:59:59.999000,5.993910e+06,5228,228.521921,3.090541e+06,0
1,2018-01-01 01:00:00.000000,13528.99,13595.89,13155.38,13203.06,383.697006,2018-01-01 01:59:59.999000,5.154522e+06,4534,180.840403,2.430449e+06,0
2,2018-01-01 02:00:00.000000,13203.00,13418.43,13200.00,13330.18,429.064572,2018-01-01 02:59:59.999000,5.710192e+06,4887,192.237935,2.558505e+06,0
3,2018-01-01 03:00:00.000000,13330.26,13611.27,13290.00,13410.03,420.087030,2018-01-01 03:59:59.999000,5.657448e+06,4789,137.918407,1.858041e+06,0
4,2018-01-01 04:00:00.000000,13434.98,13623.29,13322.15,13601.01,340.807329,2018-01-01 04:59:59.999000,4.588047e+06,4563,172.957635,2.328058e+06,0